[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-indent-guides"]
	path = vim/bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = http://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vim-gitgutter"]
	path = vim/bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "vim/bundle/FuzzyFinder"]
	path = vim/bundle/FuzzyFinder
	url = https://github.com/vim-scripts/FuzzyFinder
[submodule "vim/bundle/l9"]
	path = vim/bundle/l9
	url = https://github.com/vim-scripts/l9
[submodule "vim/bundle/tlib_vim"]
	path = vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim
[submodule "vim/bundle/vim-addon-mw-utils"]
	path = vim/bundle/vim-addon-mw-utils
	url = https://github.com/marcweber/vim-addon-mw-utils
[submodule "vim/bundle/vim-snipmate"]
	path = vim/bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate
